@import "tailwindcss";

@layer utilities {
    .font-century-gothic {
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    }

    .font-samarkan {
        font-family: "Samarkan";
    }
}

@font-face {
    font-family: "Samarkan";
    src: url("/fonts/samarkan/samarkan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .font-marines {
        font-family: "Marines", sans-serif;
        /* Placeholder */
    }

    .animate-spin-slow {
        animation: spin 10s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}