@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 1.5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

@layer utilities {
    .font-century-gothic {
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    }

    .font-samarkan {
        font-family: "Samarkan";
    }
}

@font-face {
    font-family: "Samarkan";
    src: url("/fonts/samarkan/samarkan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Marines";
    src: url("/fonts/marines/marines.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .font-marines {
        font-family: "Marines", sans-serif;
    }

    .animate-spin-slow {
        animation: spin 40s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }



    .animate-clock {
        animation: clock-wipe 1s linear forwards;
    }

    @keyframes clock-wipe {
        from {
            mask-image: conic-gradient(black 0deg, transparent 0deg);
            -webkit-mask-image: conic-gradient(black 0deg, transparent 0deg);
            --wipe-angle: 0deg;
        }

        to {
            mask-image: conic-gradient(black 360deg, transparent 0deg);
            -webkit-mask-image: conic-gradient(black 360deg, transparent 0deg);
            --wipe-angle: 360deg;
        }
    }

    .animate-slide-in-bottom {
        animation: slideInFromBottom 0.5s ease-out forwards;
    }

    @keyframes slideInFromBottom {
        from {
            transform: translateY(10px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .animate-float-rotate {
        animation: floatRotate 6s ease-in-out infinite;
    }

    @keyframes floatRotate {

        0%,
        100% {
            transform: translateY(0) rotate(0deg);
        }

        50% {
            transform: translateY(-8px) rotate(3deg);
        }
    }

    .animate-leaf-fall {
        animation: leafFall 3s ease-out forwards;
    }

    @keyframes leafFall {
        from {
            transform: translateY(-800px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .animate-leaf-fall-reverse {
        animation: leafFallReverse 3s ease-out forwards;
    }

    @keyframes leafFallReverse {
        from {
            transform: translateY(800px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}