@import "tailwindcss";

@layer utilities {
    .font-century-gothic {
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    }

    .font-samarkan {
        font-family: "Samarkan";
    }
}

@font-face {
    font-family: "Samarkan";
    src: url("/fonts/samarkan/samarkan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .font-marines {
        font-family: "Marines", sans-serif;
        /* Placeholder */
    }

    .animate-spin-slow {
        animation: spin 40s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @property --wipe-angle {
        syntax: '<angle>';
        initial-value: 0deg;
        inherits: false;
    }

    .animate-clock {
        animation: clock-wipe 1s linear forwards;
    }

    @keyframes clock-wipe {
        from {
            mask-image: conic-gradient(black 0deg, transparent 0deg);
            -webkit-mask-image: conic-gradient(black 0deg, transparent 0deg);
            --wipe-angle: 0deg;
        }

        to {
            mask-image: conic-gradient(black 360deg, transparent 0deg);
            -webkit-mask-image: conic-gradient(black 360deg, transparent 0deg);
            --wipe-angle: 360deg;
        }
    }
}